.button {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-radius: 2px;
    -fx-border-width: 3px;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color: #ffff66;
}